---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to KerbalMods.com">
	<main>
		<h1>Welcome to <span class="text-gradient">KerbalMods.com</span></h1>
		<p class="WIP">
			The site is still a work in progress, but we are working on it! 👷<br />
			Stay tuned for updates as we work towards providing a seamless user experience for all KSP2 modders and players.<br />
			Meanwhile please head over to the Modding Discord for now.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://discord.gg/hHW5gpHxfE"
				title="Modding Discord"
				body="The place to go for the current progress of KSP2 modding."
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.WIP {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.WIP code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.WIP strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
